body {
  font-size: 15px;
  height: 100vh;
  width: 100vw;
  font-family: "Montserrat", sans-serif;
  background-color: hsl(240, 78%, 97%);
  background-image: url("images/bg-top.svg"), url("images/bg-bottom.svg");
  background-position: top right, bottom left;
  background-repeat: no-repeat, no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.pricing {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
}

.basic,
.master {
  padding: 40px;
  text-align: center;
  color: black;
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.professional {
  padding: 65px 40px 65px 40px;
  background-color: hsl(237, 63%, 64%);
  background: linear-gradient(
    360deg,
    hsl(237, 63%, 64%),
    60%,
    hsl(237, 63%, 80%)
  );
  color: white;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cardContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headers {
  color: hsla(232, 13%, 33%, 0.705);
}

.storage,
.users {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: solid 1px black;
  padding-top: 15px;
}

.monthlyAmount {
  display: none;
}

.priceToggle .monthlyAmount {
  display: block;
}

.priceToggle .annuallyAmount {
  display: none;
}

.blueButton {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  background-color: hsl(237, 63%, 64%);
  width: 320px;
  height: 50px;
  border-radius: 5px;
  border-style: none;
  background: linear-gradient(
    270deg,
    hsl(237, 63%, 64%),
    60%,
    hsl(237, 63%, 80%)
  );
  font-weight: bold;
  color: white;
}

.blueButton:hover {
  background: white;
  color: hsl(237, 63%, 64%);
  border: 1px solid hsla(232, 13%, 33%, 0.705);
}

.whiteButton {
  cursor: pointer;
  background-color: white;
  width: 320px;
  height: 50px;
  border-radius: 5px;
  border-style: none;
  font-weight: bold;
  color: hsl(237, 63%, 64%);
  font-family: "Montserrat", sans-serif;
}

.whiteButton:hover {
  background: hsl(237, 63%, 64%);
  color: white;
  border: 1px solid white;
}

.transfer {
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  padding: 15px;
}

.amount {
  font-size: 70px;
  margin: 0px;
}

.coloredAmount {
  color: hsl(232, 13%, 33%);
}

.toggle {
  cursor: pointer;
  background-color: hsl(237, 63%, 64%);
  width: 60px;
  height: 32px;
  margin-top: 12px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.toggle-active {
  background-color: blue;
  width: 60px;
  height: 32px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

input {
  display: none;
}

.slider {
  height: 24px;
  width: 24px;
  background-color: white;
  border-radius: 12px;
  margin: 4px;
}

input:checked + .toggle > .slider {
  align-self: flex-end;
}

.dollarSign {
  font-size: 50px;
  margin-right: 10px;
}
